<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>How to Play</title>
</head>

<body>
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!-- header section starts  -->
    <header>
        <h1 class="heading">How to Play 4toScore</h1>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href='/'>Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Play
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="unranked">Unranked Match</a>
                        <a href="">Ranked Match</a>
                        <a href="">Play with Friends</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Learn More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="howtoplay">How To Play</a>
                        <a href="eloranking">ELO Ranking System</a>
                    </div>
                </div>
                <li><a href='aboutus'>About Us</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Username
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="">Edit/View Profile</a>
                        <a href="">Friends</a>
                        <a href="">Log Out</a>
                    </div>
                </div>
            </ul>
        </nav>/
    </header>
    <!-- header section ends-->
    <section class="home">
        <div class="content2">
            <br>
            <br>
            <h1>How to get started playing 4toScore</h1>
            <p>The game of 4toScore consists of a grid full of empty spots - 7 wide and 6 vertical.
                Once a game starts, it is chosen by random whether Red or Yellow starts the game. 
                To play, users drop colored disks into one of the six columns.
                This can be done by hovering your mouse over the desired column
                you want to drop your disk into.
            </p>
            <br>
            <img src="images/gamestart.png" alt="User dropping puck" class="center">
            <br>
            <p>Once your disk is drop it is then your opponent's turn. Your opponent's disks
                are colored yellow while your own disks are colored red.
            </p>
            <br>
            <img src="images/opponent.png" alt="User dropping puck" class="center">
            <br>
            <p>Players take turns dropping disks until there is a winner. To win you must get
                four of their disks in a row. This can be done vertically, horizontally, or diagonally.
            </p>
            <br>
            <div class="row">
                <div class="column">
                  <img src="images/vertical-win.png" alt="vertical win" style="width:100%">
                </div>
                <div class="column">
                  <img src="images/horizontal-win.png" alt="horizontal win" style="width:100%">
                </div>
                <div class="column">
                  <img src="images/diagonal-win.png" alt="diagonal win" style="width:100%">
                </div>
              </div>
            <br>
        </div>
    </section>
</body>

</html>