<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/register.css">
  <title> Connect4.com Register Screen </title>
</head>
<script type="text/javascript">

  function CheckSpace(event) {
    if (event.which == 32) {
      event.preventDefault();
      return false;
    }
  }
</script>

<body>

  <body>
    <div class="register-page">
      <div class="form">
        <div class="register">
          <div class="register-header">
            <h3>Sign-Up</h3>
          </div>
        </div>
        <%= message %>
          <form action="/auth/register" class="register-form" method="POST">
            <input type="text" placeholder="First Name" id="fname" name="fname" onkeypress="CheckSpace(event)"
              required />
            <input type="text" placeholder="Last Name" id="lname" name="lname" onkeypress="CheckSpace(event)"
              required />
            <input type="email" placeholder="Email" id="email" name="email" onkeypress="CheckSpace(event)" required />
            <input type="text" placeholder="Username" id="username" name="username" onkeypress="CheckSpace(event)"
              required />
            <input type="password" placeholder="Password" id="password" name="password" onkeypress="CheckSpace(event)"
              required />
            <input type="password" placeholder="Confirm Password" id="passwordConfirm" name="passwordConfirm"
              onkeypress="CheckSpace(event)" required />
            <button type="submit" class="registerbtn">Sign Up</button>
          </form>

      </div>
    </div>
  </body>
</body>

</html>