<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>How to Play</title>
</head>

<body>
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!-- header section starts  -->
    <header>
        <h1 class="heading">About Us</h1>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href='/'>Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Play
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="unranked">Unranked Match</a>
                        <a href="">Ranked Match</a>
                        <a href="">Play with Friends</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Learn More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="howtoplay">How To Play</a>
                        <a href="eloranking">ELO Ranking System</a>
                    </div>
                </div>
                <li><a href='aboutus'>About Us</a></li>
                <div class="dropdown">
                    <button class="dropbtn"> <%= user.username %>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="profile">Stats</a>
                        <a href="friends">Friends</a>
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </div>
                </div>
            </ul>
        </nav>/
    </header>
    <!-- header section ends-->
    <section class="home">
        <div  class="content2">
            <br>
            <br>
            <h1>About Us</h1>
            <br>
            <p>Nowadays everybody loves to play games online with their friends, whether it be Call of Duty or a classic board game like Chess. 
                While people like to play games online, they also like to be competitive. 
                In response, we decided to incorporate both online multiplayer and competitiveness to the classic board game of Connect-4. 
                Our version of Connect-4 is called 4toScore and utilizes three different game modes: unranked, ranked, and play with friends. 
                With these features, people can have fun playing 4toScore casually, competitively, and a bit of both when playing with friends.</p>
            <br>
            <p>CJ Seese is from Myrtle Beach, South Carolina. He graduated from St. James High School in Murrells Inlet, South Carolina. 
                CJ is a senior CIS Major with an emphasis on software development and is minoring in Mathematics. 
                He has experience in web development, application development, and enterprise monitoring as an 
                IT intern for BCBSSC (Blue Cross & Blue Shield of South Carolina) as well as a student worker for Lander University’s very own ITS.  </p>
            <br>
            <p>Chivin So is from Phnom Penh, Cambodia. He graduated from Greenwood Christian School, South Carolina. 
                Chivin is a senior CIS Major with an emphasis on software development. Additionally, he is minoring in Cyber security. 
                He has experience with machine learning, deep learning, application development, and database design.</p>
            <br>
            <p>Trent Powers is from Cheraw, South Carolina and graduated from Cheraw High School. 
                He is a senior CIS major with dual emphases in software development and networking, and a cybersecurity minor. 
                He also has experience in cybersecurity engineering through his internship at TIAA and will be returning there after graduation.</p>
            <br>
        </div>
    </section>
</body>

</html>