<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>How to Play</title>
</head>

<body>
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!-- header section starts  -->
    <header>
        <h1 class="heading">ELO Ranking of 4toScore</h1>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href='/'>Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Play
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="unranked">Unranked Match</a>
                        <a href="">Ranked Match</a>
                        <a href="">Play with Friends</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Learn More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="howtoplay">How To Play</a>
                        <a href="eloranking">ELO Ranking System</a>
                    </div>
                </div>
                <li><a href='aboutus'>About Us</a></li>
                <div class="dropdown">
                    <button class="dropbtn"><%= user.username %>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="profile">Stats</a>
                        <a href="friends">Friends</a>
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </div>
                </div>
            </ul>
        </nav>/
    </header>
    <!-- header section ends-->
    <section class="home">
        <div  class="content2">
            <h1>ELO Ranking System</h1>
            <p>The Elo Ranking system is a system that ranks players in a division based on skill/wins.  
                For 4toScore our divisions will be something along the terms of: 
                Bronze: 0-500, Silver: 501-1000, Gold: 1001-1500, Diamond: 1501-2000, and Platinum: 2001+. 
            </p>
            <br>
            <p>**Insert picture showing the different divisions**</p>
            <br>
            <p>Players will be placed in a division based on how well they play. 
                Our ranking points will be something along the lines of getting +10 for every win and -10 for every loss. 
            </p>
            <br>
            <p>With this ranking system this allows players to be fairly matched when playing ranked mode. 
                For example, if you were to start a ranked mode at Gold: 1210 then you can expect 
                your opponent to be ranked in the Gold division and have a similar number of ranking points like Gold: 1300.  
            </p>
            <br>
            <p>**Insert of a picture of someone's profiles to show an example of a user being ranked**</p>
            <br>
        </div>
    </section>
</body>

</html>