<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>

        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

        <!-- custom css file link  -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <!-- jquery cdn link  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- custom js file link  -->
        <script src="js/script.js"></script>

        <!-- header section starts  -->
        <header>
            <h1 class="heading">Welcome to 4toScore</h1>
            <div id="menu" class="fas fa-bars"></div>
            <nav class="navbar">
                <ul>
                    <li><a href='/'>Home</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">Play
                            <i class = "fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="unranked">Unranked Match</a>
                            <a href="">Ranked Match</a>
                            <a href="">Play with Friends</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Learn More
                            <i class = "fa fa-caret-down"></i>
                        </button>
                        <div  class="dropdown-content">
                            <a href="howtoplay">How To Play</a>
                            <a href="eloranking">ELO Ranking System</a>
                        </div>
                    </div>
                    <li><a href='aboutus'>About Us</a></li>
                    <div class="dropdown">
                        <button class="dropbtn"> <%= user.username %>
                            <i class = "fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="profile">Stats</a>
                            <a href="friends">Friends</a>
                            <form method="POST" action="/logout">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </div>
                    </div>
                </ul>
            </nav>
        </header>
        <!-- header section ends-->

        <!-- home section starts -->
        <section class="home">
            <div class="leftdiv">
                <h1>Start Playing 4toScore</h1>
                <br>
                <p>
                4toScore has three different game modes: <br>
                unranked, ranked, and play with friends. <br> 
                With these features, you can have fun playing <br>
                4toScore casually, competitively, and a <br>
                bit of both when playing with friends.</p>
                <br>
                <br>
            </div>
            <div class="rightdiv">
                <video width="650" height="400" controls loop>
                    <source src="images/gameplay.webm" type="video/webm">
                </video>
            </div>
        </section>
    </body>
</html>
